<script>
<scriptACL>
     <execute>authenticated-users</execute>
     <read>nobody</read>
     <write>nobody</write>
</scriptACL>
<code><![CDATA[

	// Define the login of the user who will receive notifications
	var userToNotify = "user@emailserver.com";
	
	// Time in seconds after which an authentication token should expire
	var tokenExpiration = "500";
	
	// The name of the wot.io sink to use to publish messages
	var wotSink = "apstrata_kinoma";
	
	// Specifies if the backend should activate logs or not
	var activateLogs = false;
	
	// Apstrata cluster endpoint
	url = "https://wot.apstrata.com/apsdb/rest/";

]]>
</code>
</script>
